@import "../../assets/scss/libs/skel";
@import "../../assets/scss/libs/mixins";
@import "../../assets/scss/libs/functions";
@import "../../assets/scss/libs/vars";

.container {
  padding: 1rem;
  margin-bottom: 2rem;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 4px;
  background-color: transparentize(_palette(bg), 0.5);
}

.details {
  border: 1px solid white;
  padding: 0.7rem;
  border-radius: 4px;

  .header {
    display: flex;
    align-items: center;
    .image {
      border-radius: 5px;
      width: 30px;
      height: 30px;
      margin-right: 0.5rem;
    }
    .title {
      font-size: 18px;
      font-weight: bold;
    }
  }

  .divider {
    margin: 1rem 0;
    opacity: 0.2;
  }

  .close {
    font-weight: bold;
    color: #e17264;
    cursor: pointer;
    text-align: center;
  }
}

.timeline {
  list-style: none;

  @media (max-width: 680px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  li {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "left right";
    @include vendor("transition", "opacity 0.2s ease-in-out");

    opacity: 0.5;
    &:hover {
      cursor: pointer;
      opacity: 1;
    }

    .marker {
      content: "";
      height: 10px;
      width: 10px;
      background-color: #222;
      border-radius: 50%;
      border: 2px solid white;
      margin-right: -6px;
      z-index: 999;
      display: flex;
      align-items: center;
      justify-content: center;
      .image {
        border-radius: 5px;
        width: 30px;
        height: 30px;
      }
    }

    .content {
      padding: 0.5rem;

      .line {
        grid-area: line;
        content: "";
        height: 2px;
        width: 60px;
        background-color: white;
      }

      h3 {
        margin: 0;
      }

      p {
        margin: 0;
        font-size: 0.9em;
      }
    }
  }

  li:nth-child(odd) {
    @media (max-width: 680px) {
      grid-template-columns: 1em 1fr;
    }

    .blank {
      grid-area: left;
      border-right: 1px solid white;
      display: flex;
      justify-content: flex-end;
      align-items: center;

      .marker {
        margin-right: -6px;
      }
    }

    .content {
      grid-area: right;
      border-left: 1px solid white;
      padding-left: 0;
      display: grid;
      grid-template-areas: "line text";
      grid-template-columns: 70px 1fr;
      align-items: center;

      .text {
        grid-area: text;
        text-align: left;
      }
    }
  }

  li:nth-child(even) {
    grid-template-areas: "left right";

    @media (max-width: 680px) {
      grid-template-columns: 1em 1fr;
    }

    .blank {
      grid-area: right;
      border-left: 1px solid white;
      display: flex;
      justify-content: flex-start;
      align-items: center;

      @media (max-width: 680px) {
        grid-area: left;
        border-left: none;
        border-right: 1px solid white;
        justify-content: flex-end;
      }

      .marker {
        margin-left: -6px;

        @media (max-width: 680px) {
          margin-left: 0;
          margin-right: -6px;
        }
      }
    }

    .content {
      grid-area: left;
      border-right: 1px solid white;
      padding-right: 0;
      display: grid;
      grid-template-areas: "text line";
      grid-template-columns: 1fr 70px;
      align-items: center;
      justify-items: end;

      @media (max-width: 680px) {
        grid-area: right;
        border-right: none;
        border-left: 1px solid white;
        padding-right: 1em;
        padding-left: 0;
        grid-template-areas: "line text";
        grid-template-columns: 70px 1fr;
        justify-items: start;
      }

      .text {
        grid-area: text;
        text-align: right;

        @media (max-width: 680px) {
          text-align: left;
        }
      }
    }
  }
}
